[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
requests = "*"
assertpy = "*"
lxml = "*"
jsonpath-ng = "*"
cerberus = "*"
pytest-xdist = {extras = ["psutil"], version = "*"}
psutil = "*"
faker = "*"
loguru = "*"
allure-pytest = "*"
allure-python-commons = "*"

[dev-packages]

[requires]
python_version = ">3.6"
